.about{
    @include section-padding;
    text-align: center;
}

.about__text{
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 0;
}

.about-slider{
    position: relative;
    overflow: hidden;
}

.about-slider__list{
    @include no-list;
    margin-bottom: 40px;
    margin-right: -950px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 25px;

    @media (max-width: $desktop_width1){
        margin: 0 auto;
        margin-bottom: 25px;
        min-height: 560px;    
    }

    @media (min-width: $desktop_width2) and (max-width: $desktop_width){
        margin-right: -850px;
        gap: 10px;
    }
}

.about-slider__item{
    width: 450px;
    height: 560px;

    @media (min-width: $desktop_width2) and (max-width: $desktop_width){
        width: 400px;
        height: auto;
    }

    @media (max-width: $desktop_width1){
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
}

.about-slider__item--active{
    @media (max-width: $desktop_width1){
        z-index: 2;
    }
}

.about-slider__img{
    width: 100%;
}

.about-slider__controls{
    @include no-list;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.about-slider__controls--mobile{
    display: none;
    
    @media (max-width: $desktop_width1){
        display: block;
    }
}

.about-slider__button{
    outline: none;
    border: none;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    background: $basic_black1;
    transition: all 0.5s ease-out;

    &:focus{    
        background: $basic_brown;
    }

    &--active{
        background: $basic_brown;
    }
}