.header-menu{
    @include no-list;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 30px;


}

.header__nav--closed .header-menu{
    display: flex;

    @media (min-width: $tablet_width){
        display: none;
    }
}

.header-menu__link{
    color: $basic_white;
    transition: all 0.5s ease-out;

    &:hover{
        color: $basic_brown;
    }
}