.header{
    width: 100%;
    min-height: 90px;
    padding: 20px;
    display: flex;
    align-items: center;
    background: $basic_black;
}

.header__logo{
    margin: 0;
    margin-right: auto;
    align-self: flex-end;
    transition: all 0.5s ease-out;
    color: $basic_white;
    font-family: $second_font;
    font-size: 30px;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.header__nav{
    position: relative;
    line-height: 30px;

    @media (min-width: $tablet_width){
        margin-left: 40px;
        order: 3;
    }

    .nav-toggle{
        display: none;

        @media (min-width: $tablet_width){
            position: relative;
            display: block;
            border: none;
            outline: none;
            background: none;
            padding: 0;
            width: 45px;
            height: 25px;
            cursor: pointer;
        }
    }
}

.header__nav--closed .nav-toggle::before{
    @media (min-width: $tablet_width){
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 2px;
        background: $basic_white;
        box-shadow: 0 11px $basic_white, 0 21px $basic_white;
        transition: all 0.5s ease-out;
        
    }
}

.nav-toggle:hover::before,
.nav-toggle:focus::before{
    
    @media (min-width: $tablet_width){
        background: $basic_brown;
        box-shadow: 0 11px $basic_brown, 0 21px $basic_brown;
    }
}

.header__profile{
    position: relative;
    margin-left: 40px;
}

.header__profile-toggle{
    padding: 0;

    & svg{
        fill: $basic_white;
        transition: all 0.5s ease-out;
    }

    &:focus svg,
    &:hover svg{
        fill: $basic_brown;
    }
}
