.header-menu{
    @include no-list;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 30px;

    @media (max-width: $desktop_width1){
        position: absolute;
        top: 55px;
        right: -20px;
        width: 332px;
        display: block;
        text-align: center;
        background: $basic_black;
        padding-bottom: 80px;
        transition: all 0.5s ease-out;
    }

}

.header__nav--opened .header-menu{

    @media (max-width: $desktop_width1){
        display: block;
        animation: fadeIn 0.5s;
    }
}

.header__nav--closed .header-menu{
    // display: flex;
    visibility: visible;

    @media (max-width: $desktop_width1){
        // display: block;
        animation: fadeOut 0.5s;
        visibility: hidden;
    }  
}

.header-menu__item{
    @media (max-width: $desktop_width1) {
        padding: 10px 0;
    }
}

.header-menu__link{
    color: $basic_white;
    transition: all 0.5s ease-out;

    @media (max-width: $desktop_width1) {        
        font-size: 20px;
        font-weight: 400;
        line-height: 50px;
    }

    &:hover{
        color: $basic_brown;
    }
}