.page-body{
    margin: 0;
    position: relative;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    color: $basic_black; 
}

.page-body__wrapper{
    margin: 0 auto;
    width: 1440px;  
    position: relative;

    @media (max-width: $mobile_width){
        width: $mobile_width;
    }

    @media (min-width: 641px) and (max-width: $tablet_width1){
        width: $mobile_width;
    }

    @media (min-width: $tablet_width) and (max-width: $old_desktop_width1){
        width: $tablet_width;
    }

    @media (min-width: $old_desktop_width2) and (max-width: $desktop_width1){
        width: $old_desktop_width2;
    }

    @media (min-width: $desktop_width2) and (max-width: $desktop_width){
        width: $desktop_width2;
    }

}

.page-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($basic_black, 0.6);
    z-index: 3;
}