.page-body{
    font-family: "Inter", "Arial", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
    color: $basic_black;
  
    position: relative;
  
}
    