.popup{
    padding: 20px 25px;
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    background: $basic_white;
    z-index: 5;

    & .title{
        margin-bottom: 20px;
        text-align: center;
        font-family: $second_font;
        font-size: 20px;
        line-height: 20px; 
        letter-spacing: 0.4px;
        text-transform: uppercase;

        &::after{
            display: none;
        }
    }

    .button{
        margin-top: 10px;
        padding: 8px 20px;
        align-self: flex-start;
        font-family: "Inter";
        font-size: 10px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 1px;
    }
}

.popup-form{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & label{
        font-family: "Inter";
        font-size: 15px;
        font-weight: 400;
        line-height: 20px; 
        letter-spacing: 0.3px;
    }
}

.popup-form__input{
    outline: none;
    border: 1px solid $basic_brown;
    font-size: 15px;
    line-height: 20px;
    transition: all 0.5s ease-out;

    &:focus{
        border: 1px solid $basic_grey;
    }
}

.popup__text{
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: "Inter";
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: normal;

    & a{
        margin-left: 10px;
        font-weight: 700;
        letter-spacing: 1px;
        text-decoration: underline;
        color: $basic_black1;
        transition: all 0.5s ease-out;

        &:hover,
        &:focus{
            text-decoration: none;
        }
    }
}

.close{
    outline: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 19px;
    height: 19px;
    background: url(../../img/close.svg) top left/cover no-repeat;
    cursor: pointer;
}

.profile-popup{
    padding: 0;

    & .popup__wrapper{
        display: grid;
        grid-template-columns: 170px 430px;
    }

    .close{
        top: 25px;
        right: 25px;
    }
}

.popup__left{
    padding: 135px 25px;
    text-align: center;
    background: $basic_black1;
}

.profile__img{
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 30px 0;
    width: 80px;
    height: 80px;
    background: $basic_white;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;
    color: $basic_brown;
}

.profile__name{
    padding: 5px 15px;
    letter-spacing: 0;
    background: $basic_white;
    color: $basic_black;
}

.profile__info{
    padding: 30px 60px 35px 20px;

    & .title{
        margin-bottom: 40px;
        text-align: left;
        font-family: $second_font;
        font-size: 40px;
        font-weight: 400;
        line-height: 20px; 
        letter-spacing: 0.8px;
        text-transform: uppercase;
    }
}

.profile__icons{
    @include no-list;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.profile__icons-title{
    margin-bottom: 10px;
    text-align: center;
    font-family: $main_font;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.profile__icons-item{
    margin-bottom: 20px;
    text-align: center;

    & svg{
        margin-bottom: 10px;
    }
}

.profile__icon-count{
    font-family: $main_font;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px; /* 200% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.profile__books{
    margin: 0;
}

.profile__books-title{
    margin: 0;
    margin-bottom: 30px;
    font-family: $main_font;
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    color: $basic_black1;
}

.profile__books-list{
    margin: 0;
    margin-bottom: 40px;
    padding-left: 20px;

    & li{
        margin-bottom: 10px;
        font-family: $main_font;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: capitalize;
    }
}

.profile__card{
    font-family: $main_font;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: normal;
    color: $basic_black1;

    & a{
        position: relative;
        margin-left: 10px;
        color: $basic_brown;
        transition: all 0.5s ease-out;

        &::after{
            content: " ";
            position: absolute;
            top: 6px;
            right: -25px;
            width: 14px;
            height: 12px;
            background: url(../../img/link-icon.svg) no-repeat;
        }

        &:hover,
        &:focus{
            color: $basic_grey;
        }
    }
}

.card-popup{
    padding: 0;
    width: 650px;
    top: 5vh;

    & .title{
        margin-bottom: 30px;
        padding: 20px 0;
        text-align: center;
        font-size: 40px;
        line-height: 20px;
        letter-spacing: 0.8px;
        background: $basic_black1;
        color: $basic_white;
    }

    & .close{
        top: 20px;
        right: 20px;
        background: url("../../img/close_btn.svg") top left/cover no-repeat;
    }
}

.card-popup__main{
    padding: 0 40px 40px;
    display: grid;
    grid-template-columns: 190px 330px;
    gap: 50px;
}

.card-popup__form{
    width: 200px;

    & fieldset{
        margin-bottom: 10px;
        padding: 0;
        border: none;
    }

    & input{
        outline: none;
        margin-bottom: 10px;
        width: 200px;
    }

    & label{
        display: block;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.3px;
    }
}

.card-popup__expiration-code{
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    .popup-form__input{
        width: 45px;
    }
}

.card-popup__buy{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 25px;

    & .button{
        margin-top: 0;
        padding: 8px 26px;
    }
}

.card-popup__price{
    font-family: $main_font;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2px;
    color: $basic_black1;
}

.card-popup__info{
    font-family: $main_font;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2px;
    color: $basic_grey;
}