.popup{
    padding: 20px 25px;
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    background: $basic_white;

    & .title{
        margin-bottom: 20px;
        text-align: center;
        font-family: "Forum";
        font-size: 20px;
        line-height: 20px; 
        letter-spacing: 0.4px;
        text-transform: uppercase;

        &::after{
            display: none;
        }
    }

    .button{
        margin-top: 10px;
        padding: 8px 20px;
        align-self: flex-start;
        font-family: "Inter";
        font-size: 10px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 1px;
    }
}

.popup-form{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & label{
        font-family: "Inter";
        font-size: 15px;
        font-weight: 400;
        line-height: 20px; 
        letter-spacing: 0.3px;
    }
}

.popup-form__input{
    outline: none;
    border: 1px solid $basic_brown;
    font-size: 15px;
    line-height: 20px;
    transition: all 0.5s ease-out;

    &:focus{
        border: 1px solid $basic_grey;
    }
}

.popup__text{
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: "Inter";
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: normal;

    & a{
        margin-left: 10px;
        font-weight: 700;
        letter-spacing: 1px;
        text-decoration: underline;
        color: $basic_black1;
        transition: all 0.5s ease-out;

        &:hover,
        &:focus{
            text-decoration: none;
        }
    }
}

.close{
    outline: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 19px;
    height: 19px;
    background: url(../../img/close.svg) top left/cover no-repeat;
    cursor: pointer;
}