* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 332px;
    height: auto;
  }
}
@keyframes fadeOut {
  0% {
    width: 332px;
  }
  50% {
    width: 50%;
    right: 0;
  }
  100% {
    width: 0;
    visibility: hidden;
  }
}
@font-face {
  font-family: "Forum";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Forum-Regular.woff2"), url("/fonts/Forum-Regular.woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2"), url("/fonts/Inter-Regular.woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2"), url("/fonts/Inter-Bold.woff");
}
.title {
  margin: 0;
  margin-bottom: 60px;
  position: relative;
  font-family: "Forum", "Times New Roman", serif;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #0C0C0E;
}
.title::after {
  content: " ";
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
  width: 50px;
  height: 1px;
  background: #0C0C0E;
}

.button {
  outline: none;
  border: 1px solid #0C0C0E;
  border-radius: 2px;
  padding: 10px 40px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #0C0C0E;
  background: #ffffff;
  transition: all 0.5s ease-out;
}
.button:hover {
  background: rgba(187, 148, 95, 0.5);
  border: 1px solid rgba(187, 148, 95, 0.5);
}
.button:focus {
  background: #BB945F;
  border: 1px solid #BB945F;
}

.page {
  margin: 0 auto;
  min-width: 1440px;
  background-color: #ffffff;
  scroll-behavior: smooth;
}
@media (max-width: 640px) {
  .page {
    min-width: 640px;
  }
}
@media (min-width: 641px) and (max-width: 767px) {
  .page {
    min-width: 640px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .page {
    min-width: 768px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .page {
    min-width: 1024px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .page {
    min-width: 1280px;
  }
}

.page-body {
  margin: 0;
  position: relative;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  color: #000000;
}

.page-body__wrapper {
  margin: 0 auto;
  width: 1440px;
  position: relative;
}
@media (max-width: 640px) {
  .page-body__wrapper {
    width: 640px;
  }
}
@media (min-width: 641px) and (max-width: 767px) {
  .page-body__wrapper {
    width: 640px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .page-body__wrapper {
    width: 768px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .page-body__wrapper {
    width: 1024px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .page-body__wrapper {
    width: 1280px;
  }
}

.page-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.header {
  width: 100%;
  min-height: 90px;
  padding: 20px;
  display: flex;
  align-items: center;
  background: #000000;
  position: relative;
}

.header__logo {
  margin: 0;
  margin-right: auto;
  align-self: flex-end;
  transition: all 0.5s ease-out;
  color: #ffffff;
  font-family: "Forum", "Times New Roman", serif;
  font-size: 30px;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.header__nav {
  position: relative;
  line-height: 30px;
}
@media (max-width: 1279px) {
  .header__nav {
    margin-left: 40px;
    order: 3;
  }
}
.header__nav .nav-toggle {
  display: none;
}
@media (max-width: 1279px) {
  .header__nav .nav-toggle {
    position: relative;
    display: block;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    width: 45px;
    height: 25px;
    cursor: pointer;
  }
}

@media (max-width: 1279px) {
  .header__nav--closed .nav-toggle::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 2px;
    background: #ffffff;
    box-shadow: 0 11px #ffffff, 0 21px #ffffff;
    transition: all 0.5s ease-out;
  }
}

@media (max-width: 1279px) {
  .header__nav--opened .nav-toggle::before {
    content: " ";
    position: absolute;
    top: 8px;
    right: 0;
    width: 32px;
    height: 2px;
    background: #ffffff;
    transform: rotate(-45deg);
    transition: all 0.5s ease-out;
  }
}

@media (max-width: 1279px) {
  .header__nav--opened .nav-toggle::after {
    content: " ";
    position: absolute;
    top: 8px;
    right: 0;
    width: 32px;
    height: 2px;
    background: #ffffff;
    transform: rotate(45deg);
    transition: all 0.5s ease-out;
  }
}

@media (max-width: 1279px) {
  .nav-toggle:hover::before,
  .nav-toggle:focus::before,
  .nav-toggle:focus::after,
  .nav-toggle:hover::after {
    background: #BB945F;
  }
}

@media (max-width: 1279px) {
  .header__nav--closed .nav-toggle:hover::before,
  .header__nav--closed .nav-toggle:focus::before {
    box-shadow: 0 11px #BB945F, 0 21px #BB945F;
  }
}

.header__profile {
  position: relative;
  margin-left: 40px;
}

.header__profile-toggle {
  padding: 0;
}
.header__profile-toggle svg {
  fill: #ffffff;
  transition: all 0.5s ease-out;
}
.header__profile-toggle:focus svg, .header__profile-toggle:hover svg {
  fill: #BB945F;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1279px) {
  .header-menu {
    position: absolute;
    top: 55px;
    right: -20px;
    width: 332px;
    display: block;
    text-align: center;
    background: #000000;
    padding-bottom: 80px;
    transition: all 0.5s ease-out;
  }
}

@media (max-width: 1279px) {
  .header__nav--opened .header-menu {
    display: block;
    animation: fadeIn 0.5s;
  }
}

.header__nav--closed .header-menu {
  visibility: visible;
}
@media (max-width: 1279px) {
  .header__nav--closed .header-menu {
    animation: fadeOut 0.5s;
    visibility: hidden;
  }
}

@media (max-width: 1279px) {
  .header-menu__item {
    padding: 10px 0;
  }
}

.header-menu__link {
  color: #ffffff;
  transition: all 0.5s ease-out;
}
@media (max-width: 1279px) {
  .header-menu__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
  }
}
.header-menu__link:hover {
  color: #BB945F;
}

.profile__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 5px 4px 20px;
  width: 100px;
  position: absolute;
  right: 0;
  text-align: center;
  background: #ffffff;
  transition: all 0.5s ease-out;
}

.profile__items {
  margin-bottom: 10px;
}

.profile__link {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  transition: all 0.5s ease-out;
}
.profile__link:hover, .profile__link:focus {
  color: #8E8E8E;
}

.profile__link--main {
  font-weight: 700;
}
.profile__link--main::before {
  content: " ";
  position: absolute;
  bottom: -7px;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 1px;
  background: #BB945F;
}

.profile__link--inactive,
.profile__list--closed {
  display: none;
}

.header__profile:hover .profile__list,
.header__profile:focus .profile__list {
  display: block;
}

.promo {
  width: 100%;
  height: 600px;
  padding-top: 220px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 50%), url("../../img/Welcome.jpg") top left/cover no-repeat, #000000;
}
@media (min-resolution: 2dppx) {
  .promo {
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 50%), url("../../img/Welcome@2x.jpg") top left/cover no-repeat, #000000;
  }
}
@media (max-width: 1279px) {
  .promo {
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%), url("../../img/Welcome_mobile.jpg") top left/cover no-repeat, #000000;
  }
}
@media (max-width: 1279px) and (min-resolution: 2dppx) {
  .promo {
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%), url("../../img/Welcome_mobile@2x.jpg") top left/cover no-repeat, #000000;
  }
}

.promo__text {
  margin: 0;
  padding: 35px 40px;
  width: 600px;
  text-align: center;
  background: #0C0C0E;
  font-family: "Forum", "Times New Roman", serif;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.about {
  padding: 20px 20px 40px;
  text-align: center;
}

.about__text {
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: 0;
  line-height: 40px;
}

.about-slider {
  position: relative;
  overflow: hidden;
}

.about-slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
  margin-right: -950px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 25px;
}
@media (max-width: 1279px) {
  .about-slider__list {
    margin: 0 auto;
    margin-bottom: 25px;
    min-height: 560px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .about-slider__list {
    margin-right: -850px;
    gap: 10px;
  }
}

.about-slider__item {
  width: 450px;
  height: 560px;
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .about-slider__item {
    width: 400px;
    height: auto;
  }
}
@media (max-width: 1279px) {
  .about-slider__item {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

@media (max-width: 1279px) {
  .about-slider__item--active {
    z-index: 2;
  }
}

.about-slider__img {
  width: 100%;
  height: 560px;
}
.about-slider__img img, .about-slider__img source {
  object-fit: cover;
}

.about-slider__side-controls {
  display: none;
}
@media (max-width: 1279px) {
  .about-slider__side-controls {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.about-slider__side-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.about-slider__side-control:focus, .about-slider__side-control:active {
  opacity: 0.5;
}
.about-slider__side-control--left {
  left: 55px;
}
.about-slider__side-control--right {
  right: 55px;
}

.about-slider__controls {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.about-slider__controls--mobile {
  display: none;
}
@media (max-width: 1279px) {
  .about-slider__controls--mobile {
    display: block;
  }
}

.about-slider__button {
  outline: none;
  border: none;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background: #0C0C0E;
  transition: all 0.5s ease-out;
}
.about-slider__button:focus {
  background: #BB945F;
}
.about-slider__button--active {
  background: #BB945F;
}

.favorites {
  padding: 20px 20px 40px;
}
.favorites .title {
  text-align: center;
}

.favorites-form__text {
  margin: 0;
  margin-bottom: 45px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
@media (max-width: 1279px) {
  .favorites-form__text {
    margin-bottom: 40px;
  }
}

.favorites-form__radio {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}
.favorites-form__radio input {
  appearance: none;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
  border-radius: 50%;
  transition: all 0.5s ease-out;
}
.favorites-form__radio input:checked {
  background: radial-gradient(circle, #000000 0%, #000000 40%, #ffffff 40%, #ffffff 100%);
}
.favorites-form__radio input:checked + span {
  font-weight: 700;
}
.favorites-form__radio input:checked:hover {
  background: radial-gradient(circle, #8E8E8E 0%, #8E8E8E 40%, #ffffff 40%, #ffffff 100%);
}
.favorites-form__radio input:hover {
  border: 2px solid #8E8E8E;
}
.favorites-form__radio label {
  margin-right: 90px;
  transition: all 0.5s ease-out;
}
.favorites-form__radio label:last-child {
  margin-right: 0;
}
@media (max-width: 1279px) {
  .favorites-form__radio label {
    margin-right: 80px;
  }
}
@media (max-width: 767px) {
  .favorites-form__radio label {
    margin-right: 50px;
  }
}
.favorites-form__radio label span {
  display: inline-block;
  margin-left: 20px;
  letter-spacing: 0;
}
@media (max-width: 1279px) {
  .favorites-form__radio label span {
    margin-left: 15px;
  }
}
.favorites-form__radio label:hover {
  color: #8E8E8E;
}

.favorites__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template: repeat(2, auto)/repeat(2, 550px);
  gap: 40px 260px;
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .favorites__list {
    gap: 40px 100px;
  }
}
@media (max-width: 1279px) {
  .favorites__list {
    display: block;
  }
}

.favorites__item {
  position: relative;
  padding: 15px 0 15px 20px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 555px;
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .favorites__item {
    margin: 0 auto 40px;
    width: 550px;
  }
}
@media (max-width: 1023px) {
  .favorites__item {
    margin: 0 109px 40px 69px;
    width: 550px;
  }
  .favorites__item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .favorites__item {
    margin: 0 auto 40px;
    width: 470px;
  }
}

.favorites__mark {
  position: relative;
  margin-bottom: 20px;
  font-family: "Forum", "Times New Roman", serif;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.favorites__mark:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 1px;
  background: #BB945F;
}

.favorites__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title-author {
  text-transform: none;
}

.favorites__description {
  margin: 0;
  margin-bottom: 15px;
  padding-right: 170px;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.favorites__img {
  position: absolute;
  bottom: -1px;
  left: 390px;
  width: 200px;
  height: 300px;
}
@media (max-width: 767px) {
  .favorites__img {
    left: 300px;
  }
}
.favorites__img img, .favorites__img picture {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.favorites__link {
  display: inline-block;
  padding: 9px 27px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.5s ease-out;
}
.favorites__link:hover {
  background: rgba(187, 148, 95, 0.5);
  border: 1px solid rgba(187, 148, 95, 0.5);
}
.favorites__link:focus, .favorites__link:active {
  background: #BB945F;
  border: 1px solid #BB945F;
}

.coffee-shop {
  padding: 20px 20px 40px;
}
.coffee-shop .title {
  text-align: center;
}

.coffee-shop__text {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
}

.coffee-shop__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1439px) {
  .coffee-shop__wrapper {
    flex-wrap: wrap;
  }
}

.coffee-shop__menu--left {
  text-align: left;
}

.coffee-shop__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Forum", "Times New Roman", serif;
  font-size: 40px;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #BB945F;
}

.coffee-shop__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.coffee-shop__item {
  margin-bottom: 40px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 60px;
  font-size: 20px;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.coffee-shop__name {
  font-family: "Inter";
  font-weight: 400;
  margin-right: auto;
  flex-basis: 220px;
  flex-shrink: 1;
}

.coffee-shop__line {
  width: 100px;
  height: 1px;
  background: #BB945F;
}

.coffee-shop__price {
  font-family: "Forum", "Times New Roman", serif;
}

.coffee-shop__menu--right {
  text-align: right;
}
@media (max-width: 1439px) {
  .coffee-shop__menu--right {
    margin-left: auto;
  }
}
.coffee-shop__menu--right .coffee-shop__item {
  justify-content: flex-end;
}
@media (max-width: 1439px) {
  .coffee-shop__menu--right .coffee-shop__item:last-child {
    margin-bottom: 0;
  }
}
.coffee-shop__menu--right .coffee-shop__item .coffee-shop__name {
  margin-right: 0;
}

.contact {
  padding: 20px 20px 40px;
}
.contact .title {
  text-align: center;
}

.contact__wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 50%));
  gap: 10px;
}
@media (max-width: 1279px) {
  .contact__wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 60px;
  }
}

.contact__info {
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contact__info-strong {
  margin-bottom: 20px;
  font-weight: 700;
}

.contact_info-text {
  margin: 0;
  margin-bottom: 20px;
}
.contact_info-text a {
  color: #000000;
}

.mb40 {
  margin-bottom: 40px;
}

.contact__map {
  height: auto;
  background: url(../../img/map.jpg) no-repeat;
}
@media (max-width: 1279px) {
  .contact__map {
    padding: 0 15px;
    height: 414px;
  }
}

.contact__info-name {
  font-weight: 700;
}

.library-cards {
  padding: 20px 20px 40px;
}
.library-cards .title {
  text-align: center;
}

.library-cards__wrapper {
  display: grid;
  grid-template-columns: 600px 450px;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .library-cards__wrapper {
    grid-template-columns: 600px;
    justify-content: center;
    gap: 20px;
  }
}

.library-cards__check {
  width: 600px;
  text-align: center;
}

.library-cards__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Inter";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.6px;
}

.library-cards__form {
  padding: 20px 20px 30px;
  border: 3px solid #BB945F;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.library-cards__form-wrapper {
  margin-bottom: 20px;
  padding: 20px 20px 0;
  text-align: left;
  background: #BB945F;
}

.library-cards__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Forum", "Times New Roman", serif;
  font-size: 30px;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.library-cards__input {
  outline: none;
  margin-bottom: 25px;
  width: 100%;
  padding: 8px 20px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-family: "Forum", "Times New Roman", serif;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
}
.library-cards__input::placeholder {
  color: #8E8E8E;
}
.library-cards__input:focus {
  border: 1px solid #8E8E8E;
}

.library-cards__get {
  text-align: right;
}
@media (max-width: 1279px) {
  .library-cards__get {
    text-align: center;
  }
}
.library-cards__get .button {
  margin-left: 15px;
  padding: 9px 20px;
  font-family: "Inter";
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
}

.library-cards__header {
  margin-bottom: 35px;
  font-family: "Forum", "Times New Roman", serif;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.6px;
}
@media (max-width: 1279px) {
  .library-cards__header {
    margin-bottom: 40px;
  }
}

.library-cards__text {
  margin: 0;
  margin-bottom: 35px;
  line-height: 40px;
  letter-spacing: 0.4px;
}
@media (max-width: 1279px) {
  .library-cards__text {
    margin-bottom: 40px;
  }
}

.footer {
  padding: 20px 20px 40px;
  padding-bottom: 44px;
  background: #0C0C0E;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

.footer__wrapper {
  padding-bottom: 30px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__address {
  color: #ffffff;
  transition: all 0.5s ease-out;
}
.footer__address:hover, .footer__address:focus {
  color: #BB945F;
}

.footer__contacts address {
  margin-bottom: 18px;
  font-style: normal;
}

.social-media {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.social-media__link svg {
  fill: #ffffff;
  transition: all 0.5s ease-out;
}
.social-media__link:hover svg {
  fill: #BB945F;
}

.timetable__text {
  margin: 0;
  margin-bottom: 10px;
  text-align: right;
}
.timetable__text:last-child {
  margin-bottom: 0;
}

.footer__copywrite {
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-size: 20px;
  letter-spacing: 2px;
}
.footer__copywrite a {
  color: #ffffff;
  transition: all 0.5s ease-out;
}
.footer__copywrite a:hover, .footer__copywrite a:focus {
  color: #BB945F;
}

.popup {
  padding: 20px 25px;
  position: fixed;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  z-index: 5;
}
.popup .title {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Forum", "Times New Roman", serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.popup .title::after {
  display: none;
}
.popup .button {
  margin-top: 10px;
  padding: 8px 20px;
  align-self: flex-start;
  font-family: "Inter";
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
}

.popup-form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup-form label {
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.popup-form__input {
  outline: none;
  border: 1px solid #BB945F;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.5s ease-out;
}
.popup-form__input:focus {
  border: 1px solid #8E8E8E;
}

.popup__text {
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: "Inter";
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: normal;
}
.popup__text a {
  margin-left: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: underline;
  color: #0C0C0E;
  transition: all 0.5s ease-out;
}
.popup__text a:hover, .popup__text a:focus {
  text-decoration: none;
}

.close {
  outline: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 19px;
  height: 19px;
  background: url(../../img/close.svg) top left/cover no-repeat;
  cursor: pointer;
}

.profile-popup {
  padding: 0;
}
.profile-popup .popup__wrapper {
  display: grid;
  grid-template-columns: 170px 430px;
}
.profile-popup .close {
  top: 25px;
  right: 25px;
}

.popup__left {
  padding: 135px 25px;
  text-align: center;
  background: #0C0C0E;
}

.profile__img {
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 30px 0;
  width: 80px;
  height: 80px;
  background: #ffffff;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  color: #BB945F;
}

.profile__name {
  padding: 5px 15px;
  letter-spacing: 0;
  background: #ffffff;
  color: #000000;
}

.profile__info {
  padding: 30px 60px 35px 20px;
}
.profile__info .title {
  margin-bottom: 40px;
  text-align: left;
  font-family: "Forum", "Times New Roman", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.profile__icons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.profile__icons-title {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.profile__icons-item {
  margin-bottom: 20px;
  text-align: center;
}
.profile__icons-item svg {
  margin-bottom: 10px;
}

.profile__icon-count {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.profile__books {
  margin: 0;
}

.profile__books-title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
  color: #0C0C0E;
}

.profile__books-list {
  margin: 0;
  margin-bottom: 40px;
  padding-left: 20px;
}
.profile__books-list li {
  margin-bottom: 10px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.profile__card {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
  color: #0C0C0E;
}
.profile__card a {
  position: relative;
  margin-left: 10px;
  color: #BB945F;
  transition: all 0.5s ease-out;
}
.profile__card a::after {
  content: " ";
  position: absolute;
  top: 6px;
  right: -25px;
  width: 14px;
  height: 12px;
  background: url(../../img/link-icon.svg) no-repeat;
}
.profile__card a:hover, .profile__card a:focus {
  color: #8E8E8E;
}

.card-popup {
  padding: 0;
  width: 650px;
  top: 5vh;
}
.card-popup .title {
  margin-bottom: 30px;
  padding: 20px 0;
  text-align: center;
  font-size: 40px;
  line-height: 20px;
  letter-spacing: 0.8px;
  background: #0C0C0E;
  color: #ffffff;
}
.card-popup .close {
  top: 20px;
  right: 20px;
  background: url("../../img/close_btn.svg") top left/cover no-repeat;
}

.card-popup__main {
  padding: 0 40px 40px;
  display: grid;
  grid-template-columns: 190px 330px;
  gap: 50px;
}

.card-popup__form {
  width: 200px;
}
.card-popup__form fieldset {
  margin-bottom: 10px;
  padding: 0;
  border: none;
}
.card-popup__form input {
  outline: none;
  margin-bottom: 10px;
  width: 200px;
}
.card-popup__form label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.card-popup__expiration-code {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.card-popup__expiration-code .popup-form__input {
  width: 45px;
}

.card-popup__buy {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 25px;
}
.card-popup__buy .button {
  margin-top: 0;
  padding: 8px 26px;
}

.card-popup__price {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  color: #0C0C0E;
}

.card-popup__info {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  color: #8E8E8E;
}

.invisible {
  display: none;
}

@keyframes f_error {
  0%, 100% {
    transform: translateX(0);
  }
  15%, 45%, 75% {
    transform: translateX(-55%);
  }
  30%, 60%, 90% {
    transform: translateX(-45%);
  }
}
.form-error {
  animation-name: f_error;
  animation-duration: 0.8s;
}