$basic_black: #000000;
$basic_black1: #0C0C0E;
$basic_brown: #BB945F;
$basic_white: #ffffff;
$basic_grey: #8E8E8E;

$mobile_width: 640px;
$tablet_width1: 767px;
$tablet_width: 768px;
$old_desktop_width1: 1023px;
$old_desktop_width2: 1024px;
$desktop_width1: 1279px;
$desktop_width2: 1280px;
$desktop_width: 1439px;

$main_font: "Inter", "Arial", sans-serif;
$second_font: "Forum", "Times New Roman", serif;